@tailwind base;
@tailwind components;
@tailwind utilities;

/* nav area */
.navbar {
  width: 1246px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
.menu :where(li:not(.menu-title):not(:empty))>:where(:not(ul):focus), .menu :where(li:not(.menu-title):not(:empty))>:where(:not(ul):hover) {
 background-color: transparent; 
  --tw-bg-opacity: .1;
}
.navwrap{
  margin: 0 auto;
  background: rgb(253,243,238);
  background: linear-gradient(90deg, rgba(253,243,238,1) 24%, rgba(211,136,255,0.8435749299719888) 53%, rgba(229,229,229,1) 100%);
}
  /* challenge-area */
.challenge{
    background: linear-gradient(87.05deg, #6462F0 0%, #9190E9 95.5%);
    border-radius: 15px;
    height: 290px;
  }
  /* remove white space from right side */
  html, body {
    width: 100%;
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
  }
 